/* ==========================
   UTILITIES 
========================== */
@use "utilities/maps";
@use "utilities/mixin";
@use "utilities/extend";

/* ==========================
   BASE
========================== */
@use "base/estilosglobales";

/* ==========================
   COMPONENTS
========================== */
@use "components/button";
@use "components/card";
@use "components/formulario";

/* ==========================
   LAYOUTS
========================== */
@use "layouts/footer";
@use "layouts/grid";
@use "layouts/header";

/* ==========================
   PAGES
========================== */
@use "pages/contactos";
@use "pages/copalibertadores";
@use "pages/copasudamericana";
@use "pages/fichajes";
@use "pages/futbolargentino";
@use "pages/futboleuropeo";
@use "pages/index";

/* ==========================
   QUERIES
========================== */
@use "base/queries";













