/* MERCADO DE PASES */

.mercado-pases {
  padding: 40px;
  background: #4a9418;
}

.mercado-pases h2 {
  text-align: center;
  font-size: 2rem;
  color: #faf8f8;
  margin-bottom: 30px;
}

.grid-pases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.baltasar , .paredes , .thiago , .troilo , .mastan {
  background: rgb(0, 0, 0);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.baltasar img , .paredes img , .thiago img , .troilo img , .mastan img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.info {
  padding: 15px;
}

.info h3 {
  font-size: 1.1rem;
  color: #0bec30;
  margin-bottom: 5px;
}

.info p {
  font-size: 1.1rem;
  color: #d6d8e4;
  margin-bottom: 5px;
}

.movimiento {
  font-weight: bold;
  margin-bottom: 8px;
}

.traspaso { color: #2b7219; }


.detalle {
  font-size: 0.9rem;
  color: #555;
}