
.lavozdelhincha {
  img.imagenprincipal {
    width: 1000px;
    border: 3px solid #f6f6f6;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
}

/* GRID DE NOTICIAS INDEX */
.noticias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;

  article {
    background-color: rgb(19, 18, 18);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  h3 {
    margin: 10px;
    color: #007a33;
  }

  p {
    margin: 10px;
  }
}
