$colores:(
borde-claro: #4402c9,
fondo-noticia: rgb(19, 18, 18),
borde-noticia: #ddd,
sombra-noticia: rgba(0, 0, 0, 0.1),
titulo-verde: #007a33,
 // INDEX
fondo-principaleuropa: #002244,
fondo-secundarioeuropa: #001a33,
fondo-sidebareuropa: #001122,
borde-claroeuropa: #7f17b7,
texto-sidebareuropa: #000407,
 // EUROPA
fondo-principalarg: #1a1a1a,
fondo-secundarioarg: #111,
texto-blancoarg: #fff,
texto-negroarg: #000,
sombra-claraarg: rgba(255, 255, 255, 0.1),
 // FUTBOL ARGENTINO
fondo-verdemdp: #4a9418,
fondo-cardmdp: #000000,
sombra-cardmdp: rgba(0, 0, 0, 0.1),
texto-blancomdp: #ffffff,
texto-blancomdp2: #faf8f8,
texto-verdemdp: #0bec30,
// FICHAJES
fondo-principallib: #001f0f,
texto-principallib: rgb(230, 229, 229),
caja-oscuralib: #111,
caja-azullib: #09022b,
bordelib: #000000,
texto-clarolib: #ffffff,
// LIBERTADORES
fondoheader: #e62847,
bordeheader: rgb(15, 14, 14),
textoheader: rgb(0, 0, 0),
hoverheader: #ff0800e7,
submenu-fondoheader: #2c1147,
// HEADER
fondofooter: #000000,
enlacefooter: #0077c8,
// FOOTER
fondoform: #ffffff,
textoform: #000000,
borde-inputform: #0077c8,
botonform: #0077c8,
boton-hoverform: #005f9e,
// FORMULARIO
estilo-global-body-fondo: rgb(11, 12, 12),
estilo-global-body-texto: #ffffff,
estilo-global-h1-shadow: #0077c8,
estilo-global-h1-fondo: #050003,
estilo-global-li-shadow: rgba(0,0,0,0.1),
estilo-global-tabla-fondo: rgb(7, 6, 6),
estilo-global-tabla-shadow: rgba(0,0,0,0.1),
estilo-global-aside-h3: #00b4d8,
estilo-global-aside-li-borde: #222222
// ESTILOS GLOBALES
);