/* FORMULARIO */

@use "sass:map";
@use "../utilities/maps" as mapa;


form {
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  background-color: map.get(mapa.$colores, fondoform );
  padding: 20px 30px;
  border-radius: 10px;
  text-align: left;
  color: map.get(mapa.$colores, textoform );

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid map.get(mapa.$colores, borde-inputform );
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    text-transform: none;
  }

  input[type="submit"] {
    background-color: map.get(mapa.$colores, botonform );
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;

    &:hover {
      background-color: map.get(mapa.$colores, boton-hoverform );
    }
  }
}
