/* FOOTER */



footer {
  background-color: #000000;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  margin-top: 40px;

  a {
    color: #0077c8;
    text-decoration: none;
    margin: 0 5px;
  }
}