/* FOOTER */

@use "sass:map";
@use "../utilities/maps" as mapa;

footer {
  background-color: map.get(mapa.$colores, fondofooter );
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  margin-top: 40px;

  a {
    color: map.get(mapa.$colores, enlacefooter );
    text-decoration: none;
    margin: 0 5px;
  }
}